.letraCarrito{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}

.tamañoFotoCarrito{
    height: 100%;
    width: 100%;
}

.aLaIzquierdaCart{
    display: flex;
    justify-content: right;
}



.contenderoTarjeta{
    display: flex;
    justify-content: center;
}
.tarjetaResumen{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
}
.margenLeft {
    margin-left: 5px;
}

.centrarBoton{
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 992px) {
.tamañoFotoCarrito{
    height: 100%;
    width: 75%;
}
.tarjetaResumen{
    position: relative;
    width: 50%;
}
}