.listaProductos {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.separacionTarjetas {
  gap: 20px;
justify-content: center; 
}
@media screen and (min-width: 992px) {
  .separacionTarjetas {
    justify-content: stretch; 
  }
}