


.centradoImagenDetail{
  display: flex;
   justify-content: space-around;
   align-items: center;
  }

.tamañoFoto {
  height: 150px;
}

.imagenCentrada{
  margin: 5px 10px;
}
.tamañoFotoPagina{
  height: 100%;
  width: 75%;
}


.esteticaTarjeta{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.letras{
  font-size: 22px;
}

.linkProducto{
  text-decoration: none;
  color: white;
}
.linkProducto:hover{
  color: cyan
}

.negrita{
  font-weight: bold;
}
.enLinea{
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.textoCentrado{
  text-align: center;
  justify-self: center;
  margin-top: 5px;
}

@media screen and (min-width: 992px) {

  .centradoImagenDetail{
    display: flex;
    justify-content: center;
  }
}